<ion-header>
  <ion-toolbar>
    <ion-title>طلب استئجار سيارة بسائق</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-title>قريبا</ion-title>
    <!--{{ taxiRequestForm.value | json}}
    <form  [formGroup]="taxiRequestForm" (ngSubmit)="onSubmit(taxiRequestForm)">  
      <ion-item>
        <ion-label class="my-label" position="floating">الاسم</ion-label>
        <ion-input type="text" formControlName="name" placeholder="ادخل الاسم"></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!taxiRequestForm.get('name').valid && taxiRequestForm.get('name').touched">
          <ion-label  color="danger"  class="my-label">ادخل الاسم</ion-label>
        </ion-item>
      
      <ion-item>
        <ion-label class="my-label" position="floating">رقم الجوال</ion-label>
        <ion-input type="number" formControlName="mobile_no" placeholder="رقم الجوال "></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!taxiRequestForm.get('mobile_no').valid && taxiRequestForm.get('mobile_no').touched">
          <ion-label  color="danger"  class="my-label">ادخل رقم جوال صحيح</ion-label>
        </ion-item>
      
      <ion-item>
        <ion-label class="my-label" position="floating">البريد الالكتروني</ion-label>
        <ion-input type="email" formControlName="email" placeholder="لاستقبال إشعارات قبول أو رفض الطلب"></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!taxiRequestForm.get('email').valid && taxiRequestForm.get('email').touched">
          <ion-label  color="danger"  class="my-label">ادخل بريد الكتروني صحيح</ion-label>
        </ion-item>
      
      <ion-item>
        <ion-label class="my-label" position="floating">الجهة</ion-label>
        <ion-input type="text" formControlName="destination"  placeholder="وصف الجهة" ></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!taxiRequestForm.get('destination').valid && taxiRequestForm.get('destination').touched">
          <ion-label  color="danger"  class="my-label">ادخل الجهة</ion-label>
        </ion-item>
      
      <ion-item>
        <ion-label class="my-label" position="floating">المدة</ion-label>
        <ion-input type="text" formControlName="time_interval" placeholder="مدة الاستئجار"></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!taxiRequestForm.get('time_interval').valid && taxiRequestForm.get('time_interval').touched">
        <ion-label  color="danger"  class="my-label">ادخل مدة الاستئجار</ion-label>
      </ion-item>
      
      
      <ion-button [disabled]="!taxiRequestForm.valid" ion-button type="submit" expand="block">استمرار</ion-button>
    </form>
    -->
</ion-content>