<ion-header>
  <ion-toolbar>
    <ion-title>تسجيل الدخول</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--{{ loginForm.value | json}}-->
    <img padding src="../../assets/img/logo.png">
    <form  [formGroup]="loginForm" (ngSubmit)="testLogin()">
      <!--Username-->
      <ion-item>
        <ion-label class="my-label" position="floating">البريد الالكتروني</ion-label>
        <ion-input type="text" formControlName="username" placeholder="البريد الالكتروني"></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
          <ion-label  color="danger"  class="my-label">ادخل البريد الالكتروني</ion-label>
        </ion-item>
      <!--Password-->
      <ion-item>
        <ion-label class="my-label" position="floating">كلمة المرور</ion-label>
        <ion-input type="password" formControlName="password" placeholder="كلمة المرور "></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
          <ion-label  color="danger"  class="my-label">ادخل كلمة المرور</ion-label>
        </ion-item>
      <!--Submit-->
      <ion-button [disabled]="!loginForm.valid" ion-button type="submit" expand="block">تسجيل الدخول</ion-button>
      <ion-button fill="clear" expand="block" [routerDirection]="'forward'" [routerLink]="'/signup'">تسجيل مستخدم جديد</ion-button>
      <ion-button *ngIf="showValidateButton" [routerDirection]="'forward'" [routerLink]="'/validate-account'" fill="clear" expand="block">تفعيل المستخدم</ion-button>
    </form>
</ion-content>