<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title slot="start">العاديات</ion-title>
          
        </ion-toolbar>
        
      </ion-header>
      <ion-content>
        <ion-list>
            <ion-item>
                <ion-label>{{email}}</ion-label>
            </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item lines="none" [routerDirection]="'forward'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item menuClose lines="none" (click)="logout()">
                <ion-label>تسجيل الخروج</ion-label>
                <ion-icon slot="start" name="power"></ion-icon>
            </ion-item>
          </ion-menu-toggle>  
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
