<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">رجوع</ion-button>
    </ion-buttons>
    <ion-title>اختر الجهة</ion-title>
    <ion-buttons  slot="end">
      <ion-button (click)="saveDestLocation()">حفظ</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_canvas1">
    <div id="search_box">
        <ion-input type="text" id="search_address" #search_address style="ime-mode: disable" placeholder="اختر الوجهة"></ion-input>
        <ion-button fill="clear" style="position: absolute;top:0;left:0;z-index:1000;" (click)="search($event)"><ion-icon slot="icon-only" name="search"></ion-icon></ion-button>
    </div>
  </div>
</ion-content>
