#map_canvas1{
    height: 100%;
  }

  #search_box{
    -webkit-box-shadow: 3px 7px 16px -6px rgba(0,0,0,0.36);
-moz-box-shadow: 3px 7px 16px -6px rgba(0,0,0,0.36);
box-shadow: 3px 7px 16px -6px rgba(0,0,0,0.36);
    position: relative;
    border: 1px solid #ddd;
    margin:2.5%;
    background-color: rgba(255, 255, 255, 0.71);
    padding:5px;
  }