<ion-header>
  <ion-toolbar>
    <ion-title>انشاء مستخدم</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()"><ion-icon name="close" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form  [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
      <!--Name-->
      <ion-item>
        <ion-label class="my-label"  position="floating">الاسم</ion-label>
        <ion-input type="text" formControlName="name" placeholder="ادخل الاسم"></ion-input>
      </ion-item>
      <ion-item lines="none"  *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched">
        <ion-label *ngIf="signupForm.get('name').errors.required && signupForm.get('name').touched" color="danger"  class="my-label">ادخل الاسم </ion-label>
      </ion-item>
      <!--Mobile No-->
      <ion-item>
        <ion-label class="my-label" position="floating">رقم الجوال</ion-label>
        <ion-input type="number" formControlName="mobileNo" placeholder="رقم الجوال "></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!signupForm.get('mobileNo').valid && signupForm.get('mobileNo').touched">
        <ion-label *ngIf="signupForm.get('mobileNo').errors.required && signupForm.get('mobileNo').touched" color="danger" class="my-label">ادخل رقم الجوال</ion-label>
        <ion-label *ngIf="signupForm.get('mobileNo').errors.pattern && signupForm.get('mobileNo').touched" color="danger" class="my-label">ادخل رقم جوال صحيح يبدأ ب 5</ion-label>
      </ion-item>
      <!--Email-->
      <ion-item>
        <ion-label class="my-label" position="floating">البريد الالكتروني</ion-label>
        <ion-input type="text" formControlName="email" placeholder="البريد الالكتروني "></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
        <ion-label *ngIf="signupForm.get('email').errors.required && signupForm.get('email').touched" color="danger" class="my-label">ادخل البريد الالكتروني</ion-label>
        <ion-label *ngIf="signupForm.get('email').errors.pattern && signupForm.get('email').touched" color="danger" class="my-label">ادخل بريد الكتروني صحيح</ion-label>
      </ion-item>
      <!--Password-->
      <ion-item>
        <ion-label class="my-label" position="floating"> كلمة المرور</ion-label>
        <ion-input type="password" formControlName="password" placeholder=" كلمة المرور "></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
        <ion-label *ngIf="signupForm.get('password').errors.required && signupForm.get('password').touched" color="danger" class="my-label">ادخل كلمة المرور</ion-label>
      </ion-item>
      <!--Confirm Password-->
      <ion-item>
        <ion-label class="my-label" position="floating"> تأكيد كلمة المرور</ion-label>
        <ion-input type="password" formControlName="confirmPassword" placeholder=" تأكيد كلمة المرور "></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!signupForm.get('confirmPassword').valid && signupForm.get('confirmPassword').touched">
        <ion-label *ngIf="signupForm.get('confirmPassword').errors.required && signupForm.get('confirmPassword').touched" color="danger" class="my-label">ادخل  تأكيد كلمة المرور</ion-label>
      </ion-item>
      <!--Submit-->
      <ion-button [disabled]="!signupForm.valid" ion-button type="submit" expand="block">انشاء مستخدم</ion-button>     
    </form>
</ion-content>