<ion-header>
  <ion-toolbar>
    <ion-title class="my-label" >طلب نقل طالبات</ion-title>
    <ion-buttons slot="start">
        <ion-button (click)="close()"><ion-icon name="close" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--{{ studentRequestForm.value | json}}-->
    <form  [formGroup]="studentRequestForm" (ngSubmit)="onSubmit(studentRequestForm)">
      <!--National ID-->
      <ion-item>
        <ion-label class="my-label"  position="floating">السجل المدني</ion-label>
        <ion-input type="number" formControlName="nationalId" placeholder="السجل المدني"></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!studentRequestForm.get('nationalId').valid && studentRequestForm.get('nationalId').touched">
        <ion-label *ngIf="studentRequestForm.get('nationalId').errors.required && studentRequestForm.get('nationalId').touched"color="danger"  class="my-label">ادخل السجل المدني </ion-label>
        <ion-label *ngIf="studentRequestForm.get('nationalId').errors.pattern && studentRequestForm.get('nationalId').touched" color="danger" class="my-label">ادخل سجل مدني صحيح</ion-label>
      </ion-item>
      <!--Departure Time-->
      <ion-item>
        <ion-label class="my-label" position="floating">وقت الانطلاق</ion-label>
        <ion-datetime formControlName="leaveTime" display-format="h:mm A" picker-format="h:mm A"></ion-datetime>
      </ion-item>
      <ion-item lines="none" *ngIf="!studentRequestForm.get('leaveTime').valid && studentRequestForm.get('leaveTime').touched">
        <ion-label  color="danger"  class="my-label">اختر وقت الانطلاق</ion-label>
      </ion-item>
      <!--Return Time-->
      <ion-item>
        <ion-label class="my-label" position="floating">وقت العودة</ion-label>
        <ion-datetime formControlName="returnTime" display-format="h:mm A" picker-format="h:mm A"></ion-datetime>
      </ion-item>
      <ion-item lines="none" *ngIf="!studentRequestForm.get('returnTime').valid && studentRequestForm.get('returnTime').touched">
        <ion-label  color="danger"  class="my-label">اختر وقت العودة</ion-label>
      </ion-item>
      <!--Round Trip-->
      <ion-item>
        <ion-label class="my-label" position="floating">نوع الرحلة</ion-label>
        <ion-select class="my-label" formControlName="roundTrip" value="false" okText="اختر" cancelText="الغاء">
          <ion-select-option class="my-label" value="false">ذهاب فقط</ion-select-option>
          <ion-select-option class="my-label" value="true">ذهاب واياب</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" *ngIf="!studentRequestForm.get('roundTrip').valid && studentRequestForm.get('roundTrip').touched">
        <ion-label  color="danger"  class="my-label">اختر نوع الرحلة</ion-label>
      </ion-item>
      <!--Subscription Type-->
      <ion-item>
        <ion-label class="my-label" position="floating">نوع الاشتراك</ion-label>
        <ion-select class="my-label" formControlName="subscriptionType" value="day" okText="اختر" cancelText="الغاء">
          <ion-select-option class="my-label" value="day">يومي</ion-select-option>
          <ion-select-option class="my-label" value="week">اسبوعي</ion-select-option>
          <ion-select-option class="my-label" value="month">شهري</ion-select-option>
          <ion-select-option class="my-label" value="semester">فصلي</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" *ngIf="!studentRequestForm.get('subscriptionType').valid && studentRequestForm.get('subscriptionType').touched">
        <ion-label  color="danger"  class="my-label">ادخل نوع الاشتراك</ion-label>
      </ion-item>
      <!--Start Date-->
      <ion-item *ngIf="studentRequestForm.get('subscriptionType').value != 'semester'">
        <ion-label class="my-label" position="floating">بداية من</ion-label>
        <ion-datetime formControlName="startDate" display-format="YYYY/MMM/D" picker-format="YYYY/MMM/D" ></ion-datetime>
      </ion-item>
      <ion-item lines="none" *ngIf="!studentRequestForm.get('startDate').valid && studentRequestForm.get('startDate').touched && studentRequestForm.get('subscriptionType').value != 'semester'">
        <ion-label  color="danger" class="my-label">اختر تاريخ البداية</ion-label>
      </ion-item>
      <!--Father Mobile No-->
      <ion-item>
        <ion-label class="my-label" position="floating">رقم جوال ولي الأمر</ion-label>
        <ion-input type="number" formControlName="fatherMobNo" placeholder="رقم جوال ولي الأمر"></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!studentRequestForm.get('fatherMobNo').valid && studentRequestForm.get('fatherMobNo').touched">
        <ion-label *ngIf="studentRequestForm.get('fatherMobNo').errors.required && studentRequestForm.get('fatherMobNo').touched" color="danger" class="my-label">ادخل رقم جوال ولي الأمر</ion-label>
        <ion-label *ngIf="studentRequestForm.get('fatherMobNo').errors.pattern && studentRequestForm.get('fatherMobNo').touched" color="danger" class="my-label">ادخل رقم جوال صحيح يبدأ ب 5</ion-label>
      </ion-item>
      <!--Father National ID-->
      <ion-item>
        <ion-label class="my-label" position="floating">السجل المدني لولي الأمر</ion-label>
        <ion-input type="number" formControlName="fatherNationalId" placeholder="السجل المدني لولي الأمر"></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!studentRequestForm.get('fatherNationalId').valid && studentRequestForm.get('fatherNationalId').touched">
        <ion-label *ngIf="studentRequestForm.get('fatherNationalId').errors.required && studentRequestForm.get('fatherNationalId').touched" color="danger" class="my-label">ادخل السجل المدني لولي الأمر</ion-label>
        <ion-label *ngIf="studentRequestForm.get('fatherNationalId').errors.pattern && studentRequestForm.get('fatherNationalId').touched" color="danger" class="my-label">ادخل سجل مدني صحيح </ion-label>
      </ion-item>
      <!--Coordinates - SOURCE-->
      <ion-item>
        <ion-label>تحديد المسار</ion-label>
        <ion-button routerLink="/destination-location" routerDirection="forward" fill="clear">         
          <p *ngIf="this.studentRequestForm.get('locationSrcLat').valid && this.studentRequestForm.get('locationSrcLng').valid && this.studentRequestForm.get('locationDestLat').valid && this.studentRequestForm.get('locationDestLng').valid">تم اختيار الموقع</p>
          <p *ngIf="!this.studentRequestForm.get('locationSrcLat').valid || !this.studentRequestForm.get('locationSrcLng').valid || !this.studentRequestForm.get('locationDestLat').valid || !this.studentRequestForm.get('locationDestLng').valid">اختر الموقع</p>
          <p *ngIf="routeDistance">( {{routeDistance}} كم)</p>
          <ion-icon style="padding:0px 5px;" name="locate" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <!--Destination-->
      <ion-item>
        <ion-label class="my-label" position="floating">وصف جهة الوصول</ion-label>
        <ion-input type="text" formControlName="destinationDescription" placeholder="وصف الجهة" ></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!studentRequestForm.get('destinationDescription').valid && studentRequestForm.get('destinationDescription').touched">
        <ion-label  color="danger"  class="my-label">ادخل الجهة</ion-label>
      </ion-item>
      <!--Submit-->
      <ion-button [disabled]="!studentRequestForm.valid" ion-button type="submit" expand="block">استمرار</ion-button>
    </form>
</ion-content>
