<ion-header>
  <ion-toolbar>
    <ion-title>بيانات الطلب</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item lines="none">
          <ion-label>
              <h2>نوع الطلب</h2>
              <p>نقل جامعي</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
              <h2>تاريخ الطلب</h2>
              <p>{{selectedReq?.created_at | date: 'dd/MM/yyyy'}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
              <h2>وقت الذهاب</h2>
              <p>{{selectedReq?.leaveTime | date: 'shortTime'}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
              <h2>وقت الإياب</h2>
              <p>{{selectedReq?.returnTime | date: 'shortTime'}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <h2>نوع الرحلة</h2>
                <p *ngIf="!selectedReq?.roundTrip">ذهاب فقط</p>
                <p *ngIf="selectedReq?.roundTrip">ذهاب واياب</p>
            </ion-label>
          </ion-item>
        <ion-item lines="none">
          <ion-label>
              <h2>نوع الاشتراك</h2>
              <p *ngIf="selectedReq?.subscriptionType == 'day'">يومي</p>
              <p *ngIf="selectedReq?.subscriptionType == 'week'">اسبوعي</p>
              <p *ngIf="selectedReq?.subscriptionType == 'month'">شهري</p>
              <p *ngIf="selectedReq?.subscriptionType == 'semester'">فصلي</p>
          </ion-label>
        </ion-item>         
        <ion-item lines="none">
          <ion-label>
              <h2>بداية من</h2>
              <p>{{selectedReq?.startDate | date: 'dd/MM/yyyy'}}</p>
          </ion-label>
        </ion-item>  
        <ion-item lines="none">
          <ion-label>
              <h2>المسافة بالكيلو متر</h2>
              <p>{{selectedReq?.routeDistance | number : '1.2-2'}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
              <h2>التكلفة الاجمالية</h2>
              <p>
                {{selectedReq?.totalPrice | number : '1.2-2'}} <span> ر.س </span>
                <span *ngIf="selectedReq?.subscriptionType == 'day'"> / اليوم</span>
                <span *ngIf="selectedReq?.subscriptionType == 'week'"> / الاسبوع</span>
                <span *ngIf="selectedReq?.subscriptionType == 'month'"> / الشهر</span>
                <span *ngIf="selectedReq?.subscriptionType == 'semester'"> / الفصل الدراسي</span>
              </p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
              <h2>حالة الطلب</h2>
              <p *ngIf="!selectedReq?.approved">تحت الاجراء</p>
              <p *ngIf="selectedReq?.approved">ساري</p>
          </ion-label>
        </ion-item> 
        
      </ion-list>
</ion-content>
