<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      الرئيسية
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-title>طلباتي</ion-title>
  <p *ngIf="items?.length == 0">لا توجد طلبات </p>
  <ion-list>
    <ion-item detail *ngFor="let item of items" (click)="goToDetails(item)">
      <ion-label>طلب نقل جامعي</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
