<ion-header>
  <ion-toolbar>
    <ion-title>تفعيل المستخدم</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()"><ion-icon name="close" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  [formGroup]="validateForm" (ngSubmit)="onSubmit(validateForm)">
    <!--Token-->
    <ion-item>
      <ion-label class="my-label" position="floating">كود التفعيل</ion-label>
      <ion-input type="text" formControlName="token" placeholder="ادخل كود التفعيل"></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="!validateForm.get('token').valid && validateForm.get('token').touched">
        <ion-label  color="danger"  class="my-label">ادخل كود التفعيل</ion-label>
    </ion-item>
    <!--Submit-->
    <ion-button [disabled]="!validateForm.valid" ion-button type="submit" expand="block">تفعيل المستخدم</ion-button>
  </form>
</ion-content>
