<ion-header>
  <ion-toolbar>
    <ion-title>تمت العلمية بنجاح</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="clear"><ion-icon slot="icon-only" name="checkmark-circle"></ion-icon></ion-button> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-title>تم ارسال الطلب بنجاح </ion-title>
        <p> سيتم اشعارك عند الموافقة على الطلب</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
